<div
  id="app"
  class="d-flex flex-column w-100">
  <div class="d-flex justify-content-between w-100 mb-3">
    <button
      mat-raised-button
      color="primary"
      (click)="openDialog([], 'create', null, 'hh')"
    >Add Household</button>
    <button
      mat-raised-button
      color="primary"
      (click)="openDialog([], 'create', null, 'pp')"
    >Add Power Plant</button>
  </div>
  <mat-accordion
    class="w-100"
    *ngIf="(powerPlants|async)"
  >
    <mat-expansion-panel
      *ngFor="let pp of (powerPlants|async)"
      [expanded]="activePp === pp.id"
      (opened)="activePp= pp.id"
      hideToggle>
      <mat-expansion-panel-header>
        <mat-panel-title class="w-30">
          <span>{{pp.ppName}}</span>
        </mat-panel-title>
        <mat-panel-description  class="d-flex w-100 justify-content-between">
          <span
            [matTooltip]="craftHHList(pp.connectedHH)"
          >{{pp.connectedHH.length ? 'Connected households:\&nbsp;\&nbsp;' + pp.connectedHH.length : 'No connected households'}}
          </span>
          <mat-icon
            id="ppState"
            class="mr-4"
            [class.active]="pp.isActive"
          >lens</mat-icon>
        </mat-panel-description>
      </mat-expansion-panel-header>
      <div class="d-flex w-100 justify-content-between align-items-center">
        <mat-form-field
          *ngIf="pp.isActive"
          class="example-chip-list w-50">
          <mat-chip-list
            #chipList
            aria-label="Fruit selection">
            <mat-chip
              *ngFor="let hh of pp.connectedHH"
              [selectable]="selectable"
              [removable]="removable"
              (removed)="remove(hh.id, pp.id)">
              {{hh.hhName}}
              <mat-icon matChipRemove *ngIf="removable">cancel</mat-icon>
            </mat-chip>
            <input
              placeholder="Connect household..."
              #hhInput
              [formControl]="formControl"
              [matAutocomplete]="auto"
              [matChipInputFor]="chipList"
              [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
              (matChipInputTokenEnd)="add($event)">
          </mat-chip-list>
          <mat-autocomplete #auto="matAutocomplete" (optionSelected)="selected($event, pp)">
            <mat-option *ngFor="let hh of filterHh(pp.connectedHH)" [value]="hh">
              {{hh.name}}
            </mat-option>
          </mat-autocomplete>
        </mat-form-field>
        <span
          *ngIf="!pp.isActive"
        >
          Power Plant is deactivated
        </span>
        <button
          mat-raised-button
          class="mw-100-px"
          [class.activeBtn]="!pp.isActive"
          (click)="pp.isActive ? openDialog(pp.connectedHH, 'deactivate', pp, 'pp') : openDialog(pp.connectedHH, 'activate', pp, 'pp')"
          color="warn">{{pp.isActive ? 'Deactivate' : 'Activate'}}</button>
      </div>
    </mat-expansion-panel>
  </mat-accordion>
  <mat-table
    class="mt-3"
    [dataSource]="households|async">
    <ng-container matColumnDef="name">
      <mat-header-cell *matHeaderCellDef>Household name</mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.hhName}} </mat-cell>
    </ng-container>
    <ng-container matColumnDef="connectedPPList">
      <mat-header-cell *matHeaderCellDef>Connected Power Plants list</mat-header-cell>
      <mat-cell *matCellDef="let element">
        <mat-list
          class="w-100"
          *ngIf="element.connectedPP.length"
        >
          <mat-list-item
            *ngFor="let pp of element.connectedPP"
          >
            <div class="d-flex w-100 justify-content-around align-items-center py-5">
              <span>{{pp.ppName}}</span>
              <button
                mat-raised-button
                class="mw-100-px"
                (click)="openDialog([], 'deactivate', pp, 'ppfromhh')"
                color="warn">Disconnect</button>
            </div>
          </mat-list-item>
        </mat-list>
        <div
          *ngIf="!element.connectedPP.length"
        >
          <span>Any connected Power Plants</span>
        </div>
      </mat-cell>
    </ng-container>
    <ng-container matColumnDef="connectedHhList">
      <mat-header-cell *matHeaderCellDef> No. </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.connectedPP}} </mat-cell>
    </ng-container>
    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
  </mat-table>

</div>
