<div
  id="app"
  class="d-flex w-100">
  <mat-accordion
    class="w-100"
    *ngIf="(powerPlants|async)"
  >
    <mat-expansion-panel
      *ngFor="let pp of (powerPlants|async)"
      [expanded]="activePp === pp.id"
      (opened)="activePp= pp.id"
      hideToggle>
      <mat-expansion-panel-header>
        <mat-panel-title>
          {{pp.ppName}}
        </mat-panel-title>
        <mat-panel-description>
          <button
            mat-button
            color="accent"
            (click)="pp.isActive = !pp.isActive"
          >{{pp.isActive ? 'Disable' : 'Activate'}}</button>
        </mat-panel-description>
      </mat-expansion-panel-header>
    </mat-expansion-panel>
  </mat-accordion>

</div>
