<h1 mat-dialog-title>{{craftPhrase()}}</h1>
<div mat-dialog-content>
  <div *ngIf="data.dialogType === 'deactivate' && data.subject === 'pp' && data.hHList.length">
    <span>These households will be disconnected from the existing Power Plant:</span>
    <ul class="mt-2">
      <li *ngFor="let hhname of data.hHList">{{hhname}}</li>
    </ul>
  </div>
  <span *ngIf="data.subject === 'ppfromhh'">
    All connected households will lose electricity also too.
  </span>
  <div
    *ngIf="data.dialogType === 'create'"
  >
      <mat-form-field class="w-100">
        <mat-label>Input name there...</mat-label>
        <input
          matInput
          [(ngModel)]="name"
        >
      </mat-form-field>
  </div>
</div>
<div id="actions" mat-dialog-actions class="d-flex justify-content-around">
  <button
    mat-raised-button
    class="cancel"
    (click)="onClick(false)"
  >Cancel</button>
  <button
    mat-raised-button
    class="confirm"
    cdkFocusInitial
    (click)="onClick(true)"
  >Confirm</button>
</div>
